{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Payment platform{% endblock %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
         <h3>Payment details</h3>
         <div class="panel">
          <p><strong>Total:</strong> &pound;{{order['total']|format_money}}</p>
          <p><strong>Item:</strong> {{order['description']}}</p>
          <p><strong>Service:</strong> {{order['service']}}</p>
        </div>
      <form action="" method="post">
        <h3>Choose a previously registered card:</h3>
        <select id="select-card">
          <option value=""></option>
          <option value="card">**** **** **** 1982<option/>
        </select>

        <fieldset id="new-card">
          <p>Or enter a new one:</p>
          {{ render_field(form.card_name) }}
          {{ render_field(form.card_number) }}
          {{ render_field(form.expires)}}
          {{ render_field(form.security_code) }}
        </fieldset>
        <button type="submit" class="expand expand">Make payment</button>
      </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
{% endblock %}
